/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1440px;
  max-height: 100%;
  padding: 0;
  background: #fff;
  justify-content: center;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  margin: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1112px;
  height: 640px;
  box-shadow: 0 4px 4px 0 rgba(7, 7, 7, 0.25);
}

.feedback-form {
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;

}

label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 16px;
}


input:active {
  border: 1px solid #808080;

}

input:hover {
  border: 1px solid #000;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
}

textarea:active {
  border-color: #808080;
}

textarea:hover {
  border-color: #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}